.header{
    margin-top: 60px;
}

.header-titles{
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Lora', serif;
color: #444;
}

.smalltitle{
    position: absolute;
    top: 10%;
    font-size: 30px;
}
.largeTitle{
    position: absolute;
    top: 12%;
    font-size: 120px;

}

.headerImage{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    object-fit: cover;
    border-radius: 2%;
}